.links-of-author {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}
.links-of-author-item {
  width: max-content;
}

.header-inner {
  max-width: 1000px
}
.main-inner {
  max-width: 1000px
}
.footer-inner{
  max-width: 1000px
}
.header {
  max-width: 1000px
}
